.header-nav {
  padding: 0;
}

button {
  background: none;
  border: none;
}

button:focus-visible {
  outline: none;
}

.title-logo > mark {
  background: none;
  color: hsl(222, 31%, 21%);
  font-weight: 400;
  position: relative;
  right: 4px;
}

.title-logo {
  font-family: 'Inter', 'sans-serif';
  font-weight: 600;
  color: #252F46;
  font-size: 20px;
  position: relative;
  top: 9px;
  right: 11px;
}

.title-logo-white {
  font-family: 'Inter', 'sans-serif';
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 3px;
  right: 11px;
}

.title-logo-white > mark {
  background: none;
  color: #fff;
  font-weight: 400;
  position: relative;
  font-size: 20px;
  right: 4px;
}

.navbar-brand {
  position: relative;
  right: 9px;
}

footer * {
  font-family: Inter, sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.footer-logo {
  display: flex;
  gap: 21px;
}

.footer-logo > img {
  position: relative;
  left: 1px;
}

.navbar-brand > img, .footer-logo > img {
  height: 35px !important;
}

footer .text-content {
  background-color: #2d374f;
}

.fw-light > img {
  position: relative;
  bottom: 1px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  height: fit-content;
}

.footer-column > div:last-child {
  text-wrap: nowrap;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.chrome-download-button-white {
  background-color: #fff;
  padding: 6px 11px;
  transition: box-shadow .5s;
  position: relative;
  bottom: 11px;
}

.rights-reserved {
  position: relative;
  bottom: 6px;
}

.footer-container > span:first-child {
  display: flex;
  justify-content: space-between;
}

.footer-links { 
  display: flex;
  gap: 30px;
}

.download { 
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 5px;
}

.footer-links > .download > a > .ms-2 > p {
  --bs-text-opacity: 1;
  color: #333333;
}

.social-media {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 5px;
}

.social-media-links {
  display: flex;
  position: relative;
  bottom: 11px;
  gap: 10px;
}

.social-media-links > a {
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252F46;
  border: 1px solid #fff
}

.social-media-links > a:last-child > img {
  position: relative;
  top: 2px;
}

.footer-mobile {
  display: none;
}

.risc-warning {
  font-family: Inter, sans-serif;
  font-size: 14px;
  word-spacing: 1px;
}

.risc-warning > small {
  font-family: Inter, sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.footer-container > p:last-child {
  font-family: Inter, sans-serif;
  font-size: 14px;
  text-size-adjust: 100%;
}

.footer-container > p:last-child > small {
  font-family: Inter, sans-serif;
  font-size: 14px !important;
  letter-spacing: 0.5px;
  line-height: 0px;
}

.risc-warning-mobile {
  display: none;
}

.more-text {
  display: none;
}

.ellipsis {
  display: inherit;
}

.privacy-policy {
  display: flex; 
  flex-direction: column;
}

.privacy-policy-content {
  position: relative;
  top: 3.9rem;
}

.header-privacy-policy {
  background: #fff;
}

.bg-content-box {
  position: relative;
  right: 0.7rem;
}

.language-button {
  position: initial;
}

.policy-info-content ul li {
  font-size: 16px;
  color: #545964;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.btn-translate {
  position: absolute !important;
  right: -11px !important;
}

/* .banner-content .bg-content-box {
  background-image: url('../img/banner-background.png') !important;
} */

.banner-background {
  box-shadow: 0px 20px 2px -15px rgba(194,194,194);
}

.header-download-button{
  max-width: 165.08px !important;
  max-height: 53.5px;
  display: flex !important;
  align-items: center !important;
  position: relative;
  bottom: 7px;
}

.mobile-hidden > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-background-top, .header-background-bottom {
  width: 100%;
  height: 14.675vh;
  /* height: 22.9vh; */
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.header-background-top {
  position: relative;
  right: 4.89rem;
}

.header-background-top > .background-content {
  height: 100%;
  width: 16rem;
  background-image: url(../img/header-background-top.png);
  background-size: 41% 100%;
  background-repeat: no-repeat;
  background-position: 22%;
  transform: rotate(-20.5deg) scale(2.05) translateX(32px);
}

.header-background-bottom {
  position: relative;
  right: 7rem;
}

.header-background-bottom > .background-content {
  height: 100%;
  width: 16rem;
  background-image: url(../img/header-background-bottom.png);
  background-size: 40% 100%;
  background-repeat: no-repeat;
  background-position: 26.9%;
  transform: rotate(-22deg) scale(2.05) translateX(31px);
}

/* .header-background-top {
  background-image: url('../img/header-background-top.png');
  background-position-x: 87.27%;
} */

/* .header-background-bottom {
  background-image: url('../img/header-background-bottom.png');
  background-position-x: 90.2%;
} */

.tools-images {
  width: 92%;
}

.banner-content {
  height: min-content !important;
}

.page-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1400px) {
  h1 {
    font-size: 52px !important;
  }
}

@media (max-width: 1199px) {
  .banner-background {
    height: 100%;
    width: 51% !important;
  }

  .container {
    max-width: 1140px !important;
  }

  .tools-images {
    width: 100%;
  }
}

@media (max-width: 1111px) {
  .header-background-top, .header-background-bottom {
    min-height: 73.8px !important;
  }
}

@media (max-width: 1098px) {
  h1 {
    font-size: 34px !important;
  }

  .header-download-button {
    bottom: 25px;
}
}

@media (max-width: 1090px) {
  .header-download-button {
    bottom: 18px;
  }
}

@media (max-width: 1078px) {
  .header-download-button {
    bottom: 16px;
  }
}

@media (max-width: 1050px) {
  .btn-translate > .dropdown > .dropdown-menu {
    left: -30px;
  } 
}

@media (max-width: 991px) {
  .mobile-hidden > .container {
    min-width: 960px;
  }
  .header-nav > .container {
    min-width: 960px;
    margin-left: 17px;
  }
  .skills-content > .container {
    min-width: 960px;
  }
}

@media (max-width: 980px){
  .btn-translate {
    position: fixed !important;
    right: 20px !important;
  }
  .header-nav > .container {
    min-width: min-content;
  }
}

@media (max-width: 797px) {
  .header-nav {
    width: 90% !important;
  }
}

@media (max-width: 886px) {
  .navbar {
    width: max-content;
    position: relative;
    right: 5.4rem;
  }
}

@media (max-width: 767px) {
  .skills-content > .container {
    min-width: min-content;
  }
}

@media (max-width: 590px) {
  .navbar {
    width: max-content;
    position: relative;
    right: 1rem;
  }
}

@media (max-width: 560px) {
  .btn-translate > .dropdown > .dropdown-menu {
    left: -65px;
  }
  .header-nav {
    display: flex;
    justify-content: center
  }
}

@media (max-width: 575px) {
  .navbar {
    width: max-content;
    position: relative;
    right: 0rem;
  }
}

/* @media (max-width: 1200px) {
  .banner-content > .container {
    position: relative;
    top: 3.8rem !important;
  }
} */

@media (max-width: 1182px) {
  .footer-desktop {
    display: none;
  }

  .footer-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
  }

  .risc-warning-mobile {
    display: flex;
    flex-direction: column;
    border-top: 1rem solid #F7F7F7;
    border-bottom: 1rem solid #F7F7F7;
  }

  .risc-warning-mobile > small, .risc-warning-mobile > button > small {
    font-family: Inter, sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #797979;
  }

  .risc-warning-mobile > small > img {
    width: 15px;
    height: 15px;
  }

  .risc-warning-mobile > button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2.5px solid #F7F7F7;
    padding: 0.5rem;
  }

  .footer-mobile * {
    font-family: Inter, sans-serif;
    font-size: 14px !important;
    letter-spacing: 0.5px;
  }

  .footer-mobile > a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D374F;
    padding: 1rem;
    color: #fff !important;
    width: 100%;
  }

  .social-media-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.8rem;
  }

  .footer-mobile > p {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #2D374F;
    padding: 1rem;
    position: relative;
    top: 15px;
  }

  .social-media-links-mobile {
    display: flex;
    gap: 8px;
  }

  .social-media-links-mobile > a {
    background-color: #2D374F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}