.header-nav {
  padding: 0;
}

.title-logo > mark {
  background: none;
  color: hsl(222, 31%, 21%);
  font-weight: 400;
  position: relative;
  right: 4px;
}

.title-logo {
  font-family: 'Inter', 'sans-serif';
  font-weight: 600;
  color: #252F46;
  font-size: 20px;
  position: relative;
  top: 9px;
  right: 11px;
}

.title-logo-white {
  font-family: 'Inter', 'sans-serif';
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 3px;
  right: 11px;
}

.title-logo-white > mark {
  background: none;
  color: #fff;
  font-weight: 400;
  position: relative;
  right: 4px;
}

.navbar-brand {
  position: relative;
  right: 9px;
}

footer * {
  font-family: Montserrat,sans-serif;
}

.footer-logo {
  display: flex;
  gap: 21px;
}

.footer-logo > img {
  position: relative;
  left: 1px;
}

.navbar-brand > img, .footer-logo > img {
  height: 35px !important;
}

footer .text-content {
  background-color: #2d374f;
}

.fw-light > img {
  position: relative;
  bottom: 1px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  height: fit-content;
}

.footer-column > div:last-child {
  text-wrap: nowrap;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.chrome-download-button-white {
  background-color: #fff;
  padding: 6px 11px;
  transition: box-shadow .5s;
  position: relative;
  bottom: 11px;
}

.rights-reserved {
  position: relative;
  bottom: 6px;
}

.footer-container > span:first-child {
  display: flex;
  justify-content: space-between;
}

.footer-links { 
  display: flex;
  gap: 30px;
}

.download { 
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 5px;
}

.footer-links > .download > a > .ms-2 > p {
  --bs-text-opacity: 1;
  color: #333333;
  font-size: 12px;
}

.social-media {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 5px;
}

.social-media-links {
  display: flex;
  position: relative;
  bottom: 11px;
  gap: 10px;
}

.social-media-links > a {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252F46;
  border: 1px solid #fff
}

.social-media-links > a:last-child > img {
  position: relative;
  top: 2px;
}

.footer-mobile {
  display: none;
}

@media (max-width: 999px) {
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .footer-mobile > a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D374F;
    padding: 1rem;
    color: #fff !important;
  }
}
