form-control::placeholder {
  color: black !important;
}

select, select optgroup, select:active {
  color: #505056 !important;
}

.description {
  color: #505056;
}

.catalog-button-text {
  font-weight: 500 !important;
  color: #505056;
}

.catalog-button {
  gap: 6px;
  border: 1px solid #dee2e6 !important;
}

/* .form-select {
  --bs-form-select-bg-img: url('../img/selectIcon.svg') !important;
} */

.--bs-form-select-bg-img {
  font-size: 16px !important;
}

label, .nav-link.active > p, .d-flex > .pb-3, .d-flex > small, form.px-5 > h3 {
  color: #141822 !important;
}

.nav-link.active > img {
  color: #505056 !important;
}

.form-select {
  line-height: 1.5rem !important;
}

.btn-outline-secondary:hover{
  background-color: #ff7a27;
  border-color: #ff7a27 !important;
}

.btn-outline-secondary:hover > strong {
  color: #fff;
}