form-control::placeholder {
  color: black !important;
}

select, select optgroup, select:active {
  color: #637381 !important;
}

.description {
  color: #637381;
}

.catalog-button-text {
  font-weight: 500 !important;
  color: #637381;
}

.catalog-button {
  gap: 6px;
  border: 1px solid #637381 !important;
}

.light-font-color {
  color: #637381
}

.dark-font-color {
  color: #212b36 !important;
}

.--bs-form-select-bg-img {
  font-size: 16px !important;
}

label, .nav-link.active > p, .d-flex > .pb-3, .d-flex > small, form.px-5 > h3 {
  color: #212b36 !important;
}

.nav-link.active > img {
  color: #637381 !important;
}

.form-select {
  line-height: 1.5rem !important;
}

.form-select, input {
  border: 1px solid #c4cdd5 !important;
}

.btn-outline-secondary:hover{
  background-color: #ff7a27;
  border-color: #ff7a27 !important;
}

.btn-outline-secondary:hover > strong {
  color: #fff;
}